:root {
  --background: #020814;
  --foreground: #ededed;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color-scheme: dark;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: var(--font-bebas-neue), sans-serif;
  letter-spacing: 1px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url('/assets/rocket.png') 3 4, auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button, a, img {
  cursor: none;
}

button:hover, a:hover, img:hover {
  cursor: url('/assets/rocket.png') 3 4, auto;
}
